Package: se.nosskirneh.shylabels
Name: Shy Labels
Depends: mobilesubstrate
Version: 1.2
Replaces: com.noisyflake.shylabels
Provides: com.noisyflake.shylabels
Architecture: iphoneos-arm
Description: Hide app labels when not scrolling
Depiction: https://henrikssonbrothers.com/cydia/repo/depictions/?p=se.nosskirneh.shylabels
Maintainer: Andreas Henriksson
Author: NoisyFlake
Section: Tweaks
